<div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  d-flex  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="/assets/logo.png" class="navbar-brand-img" alt="...">
        </a>
        <div class=" ml-auto ">
            <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#" routerLink="/dashboard">
                        <i class="ni ni-shop text-green"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>

                <div *ngIf="(currentUser.is_staff && currentRole)">
                    <li class="nav-item" *ngFor="let item of ItensMenuStaff">
                        <a class="nav-link" href="#" routerLink="{{item.link}}">
                            <i class="{{item.icon}} text-green"></i>
                            <span class="nav-link-text">{{item.name | translate }}</span>
                        </a>
                    </li>
                </div>

                <div *ngIf="(!(currentUser.is_staff) && currentRole)">
                    <li class="nav-item" *ngFor="let item of ItensMenu">
                        <a class="nav-link" href="#" routerLink="{{item.link}}">
                            <i class="{{item.icon}} text-green"></i>
                            <span class="nav-link-text">{{item.name | translate }}</span>
                        </a>
                    </li>
                </div>
            </ul>

            <hr class="my-3">

            <ul class="navbar-nav change_role" *ngIf="currentRole">
                <li class="nav-item">
                    <a class="nav-link active change_role-btn" href="#" (click)="remove_role()">
                        <i class="ni ni-button-power text-red"></i>
                        <span class="nav-link-text">{{'btn.change_role' | translate }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>