<br>

<div class='container'>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <label for="basic-url">Pesquisar Produto</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                    placeholder='escrever o código' (keyup)="_search_produt($event.target)">
                <div class="input-group-append">
                    <button [disabled]="disabled_btn_submit" class="btn btn-outline-success"
                        type="button">Adicionar</button>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 text-right">
            <h5>
                {{ 'table.tax_value' | translate}}
                <br>
                <span class="font-weight-light">{{this._invoicesService.total | to_kwanza}}</span>
            </h5>
            <h5>
                {{ 'table.tax_without_tax' | translate}}
                <br>
                <span class="font-weight-light">{{this._invoicesService.total | to_kwanza }} </span>
            </h5>
            <h5>
                {{ 'table.total' | translate}}
                <br>
                <span class="font-weight-light">{{this._invoicesService.total |to_kwanza }} </span>
            </h5>
        </div>
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h3 class="control-label">Linhas da Factura</h3>

            <div class="table-responsive table-lines">
                <table class="table align-items-center table-flush table-striped">
                    <thead class="thead-light">
                        <tr class="mt-2">
                            <th>#</th>
                            <th class="">{{ 'table.name' | translate}}</th>
                            <th class="text-center">{{ 'table.quantity' | translate}}</th>
                            <th class="text-right">{{ 'table.price' | translate}}</th>
                            <th class="text-right">{{ 'table.tax_without_tax' | translate}}</th>
                            <th class="text-right">{{ 'table.total' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="list border-line">
                        <tr *ngFor="let line of this._invoicesService.invoiceObject.lines; index as i">
                            <td>{{ i + 1 }}</td>
                            <td class="budget">{{ line.name }}</td>
                            <td class="budget text-center">{{ line.quantity }}</td>
                            <td class="budget text-right">{{ line.price | to_kwanza }}</td>
                            <td class="budget text-right">{{ line.total_without_tax | to_kwanza }}</td>
                            <td class="budget text-right">{{ line.total | to_kwanza }}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-sm btn-danger btn-round btn-icon"
                                    (click)="remove_line(line.uuid)">
                                    <i class="ni ni-fat-remove"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-12">
                    <label id="serie_uuid" class="control-label">Série do Documento</label>
                    <select (change)="set_serie($event.target)"
                        [(ngModel)]="this._invoicesService.invoiceObject.serie_uuid" id="serie_uuid" name="serie_uuid"
                        class="form-control" (change)="_check_serie($event.target)">
                        <option *ngFor="let serie of series" [value]="serie.uuid">{{serie.document.slug
                            }} - {{ serie.name }}
                        </option>
                    </select>
                </div>

                <div class="col-sm-12 mt-3">
                    <label id="customer_uuid" class="control-label">{{ 'label.customer' | translate}}</label>
                    <select (change)="set_customer($event.target)"
                        [(ngModel)]="this._invoicesService.invoiceObject.customer_uuid" id="customer_uuid"
                        name="customer_uuid" class="form-control">
                        <option *ngFor="let customer of customers" [value]="customer.uuid">{{ customer.name }}
                        </option>
                    </select>
                </div>

                <div class="col-sm-12 mt-3">
                    <label id="customer_uuid" class="control-label">{{ 'Forma de Pagamento' | translate}}</label>
                    <select (change)="set_payment_method($event.target)" id="payment_uuid" name="payment_uuid"
                        class="form-control">
                        <option *ngFor="let payment of payment_methods" [value]="payment.uuid">{{ payment.name }}
                        </option>
                    </select>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <button [disabled]='loading' (click)="_submitte_invoice()" class='btn btn-success'>
                Finalizar Faturação
                <spinner [loading]='loading'></spinner>
            </button>
        </div>
    </div>


</div>