.card-f{
  padding: 2px;
  width: 300px;
  display: flex;
  gap: 2px;
  justify-items: center;
  justify-content: space-between;
  background: #dddcdc;
}

.card-f-h{
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-items: center;
  justify-items: center;
}

.card-f-b{
  display: flex;
  gap: 2px;
  justify-items: center;
}
