<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'Movimentos de Stock' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">

                    <button type='button' class="btn btn-outline-white btn-sm">
                        <span class="nav-link-text">{{ 'Exportar EXCEL' | translate }}</span>
                    </button>

                    <button type="button" class="btn btn-outline-default btn-sm" data-toggle="modal"
                        data-target="#CreateMovimentStockModal">
                        {{ 'Movimentar Stock' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>