<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'Nova Encomenda' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <h3>Informações Fornecedor</h3>
                <hr>
                <select formControlName="provider_uuid" name="provider_uuid" class="form-control">
                    <option *ngFor="let provider of providers" [value]="provider.uuid">{{
                        provider.name }} - {{
                        provider.nif }}</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3">
                <h3>Dados da Entrega</h3>
                <hr>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <h3>Produtos</h3>
                <hr>

            </div>
        </div>
    </div>
</div>
