<body class="bg-default">

  <div class="k-container">
    <div class="k-hero"></div>
    <div class="lg:p-8">
      <div class="k-f-content">
        <div class="flex flex-col space-y-12 items-center">
          <img
            alt="tes"
            width="100"
            height="100"
            src="../../../../assets/logo.png"
            class="w-40 overflow-hidden rounded"
          />
          <div class="flex items-start flex-col w-full text-align-login">
            <h1 class="text-2xl font-semibold tracking-tight">Iniciar sessão</h1>
          </div>
        </div>
        <div class="grid gap-6 h-full">
          <form>
            <div class="grid gap-2 space-y-3 w-full">
              <div class="grid gap-2 space-y-3">
                <div class="space-y-2">
                  <input
                    class="k-input"
                    [(ngModel)]="user.username"
                    id="username"
                    name="username"
                    placeholder="E-mail ou Nº Telefone"
                    type="email"
                  />
                </div>
                <div class="space-y-2">
                  <input
                    class="k-input"
                    [(ngModel)]="user.password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    type="password"
                  />
                </div>
              </div>
              <button
                class="k-button text-white"
                [disabled]="loading"
                (click)="_signIn()"
                type="button"
              >
                {{ "Entrar" | translate }}
                <spinner [loading]="loading"></spinner>
              </button>

              <a class="nav-link btn btn-primary btn-block text-white py-2 mt-4" 
                href="#" 
                routerLink="/subscriptions"
                >
                Registar-se
              </a>

            </div>
          </form>
        </div>

        <app-footer></app-footer>
      </div>
    </div>
  </div>
  
</body>
