<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <app-aside></app-aside>
</nav>

<!-- Main content -->
<div class="main-content" id="panel">
    <app-header></app-header>
    <router-outlet></router-outlet>


</div>

<!-- Default dropleft button -->
<div class="btn-group dropleft billing-now">
    <button type="button" class="btn btn-success dropdown-toggle btn-quick" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="fa fa-plus" aria-hidden="true"></span>
    </button>
    <div class="dropdown-menu">
        <a routerLink="/quick-sale" class='dropdown-item'>
            Faturar agora
        </a>

        <a class="dropdown-item" href="#">Abrir Caixa</a>

    </div>
</div>




<style>
    .billing-now {
        position: absolute;
        right: 2%;
        bottom: 4%;
        color: #fff;
    }

    .btn-quick:hover {
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
        transform: scale(1.05, 1.05);
    }

    .btn-quick {
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: 70% !important;
        padding: 18px 25px !important;
        font-size: 25px !important;
    }

    .dropleft .dropdown-toggle::before {
        display: none;
        visibility: hidden;
    }
</style>