<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'Gestão de Fornecedores' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <button (click)="_print_report_invoice()" type="button" class="btn btn-outline-white btn-sm">
                        <span class="nav-link-text">{{ "Exportar EXCEL" | translate }}</span>
                    </button>
                    
                    <button type="button" class="btn btn-outline-default btn-sm" data-toggle="modal"
                        data-target="#CreateOrEditProviderModal">
                        {{ 'btn.register' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-gradient-primary border-0">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                                {{ "Dívida Total" | translate }}
                            </h5>
                            <span class="h2 font-weight-bold mb-0 text-white">{{ 0 | to_kwanza}}</span>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div
                                    class="progress-bar bg-success"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width: 100%"
                                    ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-gradient-warning border-0">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                                {{ "Dívida Corrente" | translate }}
                            </h5>
                            <span class="h2 font-weight-bold mb-0 text-white">{{ 0 | to_kwanza }}</span>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div
                                    class="progress-bar bg-success"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width: 100%"
                                    ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-gradient-danger border-0">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                                {{ "Dívida Vencida" | translate }}
                            </h5>
                            <span class="h2 font-weight-bold mb-0 text-white">{{ 0 | to_kwanza}}</span>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div
                                    class="progress-bar bg-success"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width: 100%"
                                    ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th scope="col" class="sort">{{ 'table.name' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.nif' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.email' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.address' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.date' | translate}}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list" *ngIf="_providerService.providers">
                            <tr *ngFor="let item of _providerService.providers; index as i">
                                <td>{{ i+1 }}</td>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.name }}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.nif }}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.email }}</span></th>
                                <td class="budget">{{ item.address }}</td>
                                <td class="budget">{{ item.created_at | date }}</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Opções</a>
                                            <button type="button" class="dropdown-item" data-toggle="modal"
                                                (click)="pachValue(item)" data-target="#CreateOrEditProviderModal">
                                                {{ 'btn.update' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <app-loading [loading]="this.loading"></app-loading>
                </div>

            </div>
        </div>
    </div>

</div>

<CreateOrEditProviderModal [provider]="provider" [modal]=""></CreateOrEditProviderModal>
