<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-8 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">
                        Configurar Produto - Composto
                    </h6>
                </div>
                <div class="col-lg-4 col-5 text-right">
                    <select class="form-control">
                        <option *ngFor="let store of stores" [value]="store.uuid">
                            {{ store.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body border-0">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>Produtos associados</h4>
                            <h2>{{ product.name }} - <span class="badge badge-danger">{{ product.is_stocked ? '' : 'Não Movimanta Stock'  }}</span>
                            </h2>
                            <hr class="mb-0">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th class="">{{ 'table.name' | translate}}</th>
                                        <th class="text-right">{{ 'Quant. Movimentar' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody class="list" *ngIf="associated_products">
                                    <tr *ngFor="let item of associated_products">
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger btn-round btn-icon"
                                                (click)="_remove_product(item)">
                                                <i class="ni ni-fat-remove"></i>
                                            </button>
                                        </td>
                                        <th scope="row"><span class="name mb-0 text-sm">{{item.name}}</span></th>
                                        <th scope="col" style="width: 10%;">
                                            <input 
                                                (keyup)="_set_quantity($event, item)" 
                                                [value]="item.quantity"
                                                [disabled]='false' 
                                                min="1" 
                                                max="5" 
                                                type="number" 
                                                name="quantity"
                                                class="form-control"
                                            />
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <h4 class="text-center">Composição - Produto</h4>
                            <hr>
                            <p><strong>Nome:</strong> {{ product.name }}</p>
                            <p><strong>Preço:</strong> {{ product.price | to_kwanza }}</p>
                            <p><strong>Código:</strong> {{ product.code }}</p>
                            <p><strong>Imposto:</strong> {{ product.tax?.code }} - {{ product.tax?.percentage }} %</p>
                            <p><strong>Categoria:</strong> {{ product.category?.name }}</p>
                        </div>

                        <div class="col-lg-4">
                            <h4>Listagem dos Produtos</h4>
                            <hr class="mb-0">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th class="">{{ 'table.name' | translate}}</th>
                                        <th class="">{{ 'Código' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody class="list" *ngIf="available_products">
                                    <tr *ngFor="let item of available_products">
                                        <td>
                                            <input 
                                                [value]="item.cheked" 
                                                (click)="_add_to_list(item)" type="checkbox"
                                                class="form-control" 
                                            />
                                        </td>
                                        <th scope="row"><span class="name mb-0 text-sm">{{item.name}}</span></th>
                                        <th scope="row"><span class="name mb-0 text-sm">{{item.code}}</span></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button 
            (click)='_create()' 
            type="submit" 
            class="btn btn-primary">
                {{ 'Salvar agora' | translate}}
                <spinner [loading]='submitted'></spinner>
        </button>

        <button 
            class="btn btn-danger btn-sm" 
            type="reset"
            (click)="onReset()">
            {{ 'Cancelar' | translate}}
        </button>
    </div>
</div>
