<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'Atualizar Stock' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row align-items-center py-0">
                    </div>
                </div>
                <!-- Light table -->
                <div style="padding: 10px 30px;">
                    <div class="row">
                        <div class="col-md-1">{{ 'Acção' | translate}}</div>
                        <div class="col-md-3">{{ 'Produto' | translate}}</div>
                        <div class="col-md-3">{{ 'Quantidade' | translate}}</div>
                        <div class="col-md-2">{{ 'Operação' | translate}}</div>
                        <div class="col-md-3">{{ 'Fornecedor' | translate}}</div>
                    </div>


                    <div [formGroup]="movimentStockForm">
                        <div class="row" formArrayName="contacts" *ngFor="let o of contacts.controls; let i = index">
                            <div class="row mt-2" [formGroupName]="i">
                                <div class="col-md-1">
                                    <button (click)="removeContact(i)" class="btn delete-item btn-sm">
                                        <i class="fa fa-times-circle text-danger fa-lg"></i>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <input formControlName="phone" type="text" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <input formControlName="phone" type="text" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <input formControlName="phone" type="text" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <input formControlName="phone" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>



                    <hr>

                    <div class='pl-2'>
                        <button class="btn btn-outline-primary btn-sm" (click)="addNewContacts()">
                            Adicionar Produto
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>