<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'Atualizar Stock' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row align-items-center py-0">
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th scope="col" class="sort">{{ 'Produto' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Quantidade' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Operação' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Fornecedor' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Observações' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr *ngFor="let item of [1, 2, 3, 4, 5]">
                                <td>
                                    <a href="#" class="delete-item">
                                        <i class="fa fa-times-circle text-danger fa-lg dialogButton"
                                            data-state="eliminar o produto"></i>
                                    </a>
                                </td>
                                <th scope="row"><span class="name mb-0 text-sm">{{ 'Coca cola' }}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ 'Preço Fornecedor'}}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ 'Preço Fornecedor'}}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ 'Preço Fornecedor'}}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ 'Preço Fornecedor'}}</span></th>
                            </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>

</div>