<footer class="py-5" id="footer-main">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-4">
            <div class="copyright text-center text-xl-left text-muted">
                &copy; 2022 <a href="#" class="font-weight-bold ml-1" target="_blank">Moxi</a>
            </div>
        </div>
        <div class="col-xl-8">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                    <a href="#" class="nav-link">Versão {{version_app}}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>