<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'header.payment_method.title' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <button type="button" class="btn btn-outline-default btn-sm" data-toggle="modal"
                        data-target="#createOrEditPaymentMethod">
                        {{ 'btn.register' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th scope="col" class="sort">{{ 'table.name' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.description' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.use_bank' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.date' | translate}}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list" *ngIf="payment_methods">
                            <tr *ngFor="let item of payment_methods; index as i">
                                <td>{{ i+1 }}</td>
                                <th scope="row">
                                    <span class="name mb-0 text-sm">{{ item.name }}</span>
                                </th>
                                <td class="budget">{{ item.description }}</td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-{{item.use_bank ? 'success' : 'danger'}}"></i>
                                        <span class="status">{{ item.use_bank ? 'SIM' : 'NÃO' }}</span>
                                    </span>
                                </td>
                                <td class="budget">{{ item.created_at | date }}</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Opções</a>
                                            <button type="button" class="dropdown-item" data-toggle="modal"
                                                (click)="pachValue(item)" data-target="#createOrEditPaymentMethod">
                                                {{ 'btn.update' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<createOrEditPaymentMethod [payment_method]="payment_method" [modal]=""></createOrEditPaymentMethod>