<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'header.product.title' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <button type="button" class="btn btn-outline-default btn-sm" data-toggle="modal"
                        data-target="#CreateOrEditProductModal">
                        {{ 'btn.register' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row align-items-center py-0">
                        <div class="col-lg-1 p-filter">
                            <div class="form-group">
                                <label for="enter_by">Entrada</label>
                                <select (change)='_onTableDataChange($event)' class="form-control" id="enter_by"
                                    name="enter_by" [(ngModel)]="filter.limit">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>Todos</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-1 p-filter">
                            <div class="form-group">
                                <label for="order_by">Ordem</label>
                                <select name="order_by" id='order_by' (change)="_onTableDataChange($event)"
                                    [(ngModel)]="filter.order_by" class="form-control">
                                    <option value="-created_at">Data</option>
                                    <option value="name">Nome</option>
                                    <option value="code">Código</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-1 p-filter">
                            <div class="form-group">
                                <label for="filter_column">Tipo</label>
                                <select name="filter_column" id='filter_column' (change)="_onTableDataChange($event)"
                                    [(ngModel)]="filter.filter_column" class="form-control">
                                    <option value="name">Nome Produto</option>
                                    <option value="code">Código</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 p-filter">
                            <div class="form-group">
                                <label for="filter_value">Pesquisar</label>
                                <input type="text" name="filter_value" id="filter_value"
                                    [(ngModel)]="filter.filter_value" (keyup)="_onTableDataChange($event)"
                                    placeholder="Pesquisa por ..." class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th scope="col" class="sort">{{ 'table.name' | translate}}</th>
                                <th scope="col" class="sort">{{ 'image Path' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Código' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.tax' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.price' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Total' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Usar Stock' | translate}}</th>
                                <th scope="col" class="sort">{{ 'table.status' | translate}}</th>
                                <th scope="col" class="sort">{{ 'Categoria' | translate}}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list" *ngIf="_productsService.products.items">
                            <tr *ngFor="let item of _productsService.products.items | paginate: {
                                itemsPerPage: _productsService.products.count,
                                currentPage: _productsService.products.page,
                                totalItems: _productsService.products.total}
                                ; index as i">
                                <td>{{ i+1 }}</td>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.name}}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.image}}</span></th>
                                <th scope="row"><span class="name mb-0 text-sm">{{ item.code }}</span></th>
                                <td class="budget">{{ item.tax.code }} - {{ item.tax.percentage }}%</td>
                                <td class="budget">{{ item.price | to_kwanza }}</td>
                                <td class="budget">{{ item.price * (item.tax.percentage/100 + 1) | to_kwanza }}</td>
                                <td>
                                    <span class="badge badge-{{ item.is_stocked ? 'success' : 'primary' }}">{{
                                        item.is_stocked ? 'SIM' : 'NÃO' }}</span>
                                </td>

                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-green"></i>
                                        <span class="status">{{ 'status.' + item.is_active.toString() | translate
                                            }}</span>
                                    </span>
                                </td>
                                <td class="budget">{{ item.category?.name }}</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Opções</a>
                                            <button type="button" class="dropdown-item" data-toggle="modal"
                                                (click)="pachValue(item)" data-target="#CreateOrEditProductModal">
                                                {{ 'btn.update' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <hr>

                    <div class='row justify-content-center'>
                        <div class="col-5">
                            <pagination-controls (pageChange)="_onTableDataChange($event)" previousLabel="Anterior"
                                nextLabel="Proximo">
                            </pagination-controls>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<CreateOrEditProductModal [product]="product" [modal]=""></CreateOrEditProductModal>