<!-- Header -->
<div class="header bg-green pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">{{ 'header.receipt.title' | translate }}</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <button type="button" class="btn btn-outline-default btn-sm" data-toggle="modal"
                        data-target="#CreateOrEditReceiptModal">
                        {{ 'btn.register' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>