<div class="modal fade" id="{{modal}}" tabindex="-1" role="dialog" aria-labelledby="CreateOrEditDocumentModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="taxForm" (submit)="onSubmit();">

                <div class="modal-header">
                    <h5 class="modal-title" id="CreateOrEditDocumentModal">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">{{ 'label.description' | translate}}</label>
                        <input type="text" formControlName="description" name="description" class="form-control"
                            placeholder="Descrição"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors, 'is-valid': f.description.touched && !f.description.errors }" />
                        <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                            <div *ngIf="f['description'].errors.required">{{ 'errors.required' | translate}}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ 'label.code' | translate}}</label>
                        <input type="text" formControlName="code" name="code" class="form-control"
                            placeholder="IVA, MOO"
                            [ngClass]="{ 'is-invalid': submitted && f.code.errors, 'is-valid': f.code.touched && !f.code.errors }" />
                        <div *ngIf="submitted && f['code'].errors" class="invalid-feedback">
                            <div *ngIf="f['code'].errors.required">{{ 'errors.required' | translate}}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">{{ 'label.percentage' | translate}}</label>
                        <input type="text" formControlName="percentage" name="percentage" class="form-control"
                            placeholder="0"
                            [ngClass]="{ 'is-invalid': submitted && f.percentage.errors, 'is-valid': f.percentage.touched && !f.percentage.errors }" />
                        <div *ngIf="submitted && f['percentage'].errors" class="invalid-feedback">
                            <div *ngIf="f['percentage'].errors.required">{{ 'errors.required' | translate}}</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label">{{ 'Selecionar Documento' | translate}}</label>
                        <select formControlName="regime_uuid" name="regime_uuid" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.regime_uuid.errors, 'is-valid': f.regime_uuid.touched && !f.regime_uuid.errors }">
                            <option *ngFor="let regime of regimes" [value]="regime.uuid">{{ regime.name }} - {{ regime.code }}</option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" type="reset" [disabled]="taxForm.pristine && !submitted"
                        (click)="onReset()">{{ 'btn.clean' | translate}}</button>
                    <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="taxForm.valid">{{
                        'btn.validate' | translate}}</button>
                    <button type="submit" [disabled]="taxForm.pristine || taxForm.invalid"
                        class="btn btn-primary btn-sm">{{ 'btn.save' | translate}}</button>
                </div>

            </form>

        </div>
    </div>
</div>