.tableFixHead {
    table-layout: fixed;
    border-collapse: collapse;
}

.tableFixHead tbody {
    display: block;
    padding: 5px;
    width: 100%;
    overflow: auto;
    height: 20vh;
    background-color: #86c39426;
}

.tableFixHead tbody td {
    font-size: 10px;
    padding: 0px 5px;
}

.tableFixHead thead tr {
    display: block;
}

.tableFixHead th,
.tableFixHead td {
    padding: 5px 10px;
    width: 200px;
}

.table-lines tbody td {
    font-size: 10px;
    padding: 0px 5px;
}

.table-lines th,
.table-lines tbody td {
    padding: 5px 10px;
    width: 200px;
}