<div class="modal fade" id="{{modal}}" tabindex="-1" role="dialog" aria-labelledby="ListTemplateCompanyModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card-header border-0">
                <h2>Lista dos templates</h2>

                <button style='float: right;' type="button" class="btn btn-outline-default btn-sm" data-toggle="modal"
                    data-target="#CreateOrEditTemplateModal">
                    {{ 'Registar Template' | translate }}
                </button>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th class="sort">{{ 'Referência Doc.' | translate}}</th>
                            <th class="sort text-center">{{ 'Documento' | translate}}</th>
                            <th class="sort text-center">{{ 'Data Registo' | translate}}</th>
                            <th class="text-right">{{ 'Opções' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody class="list" *ngIf="templates">
                        <tr *ngFor="let item of templates; index as i">
                            <td>{{ i+1 }}</td>
                            <th scope="row"><span class="name mb-0 text-sm">{{ item.document_templater_uuid }}</span></th>
                            <td class="budget text-center">{{ item.document.slug }} - {{ item.document.name }}</td>
                            <td class="budget text-center">{{ item.created_at | date }}</td>
                            <td class="text-right">
                                <button (click)="_edit(item)" type="button" class="btn btn-success btn-sm">
                                    {{ 'Atualizar' | translate}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<CreateOrEditTemplateModal [company]="company" [modal]=""></CreateOrEditTemplateModal>